<%- include('./includes/head') %>
<body>
  <%- include('./includes/nav') %>
  <h1>Add Books</h1>
  <form action="/add-book" method="POST">
    <div>
      <label for="name">Enter book </label>
      <input type="text" name="name" id="name" />
    </div>
    <button>Add Book</button>
  </form>
</body>

</html>