<header class="header">
  <nav class="nav">
    <a class="nav-a <%= path=='/'?'active':''%>" href="/">Home</a>
    <a class="nav-a <%= path=='/add-book'?'active':''%>" href="/add-book">Add Book</a>
  </nav>
</header>