<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block styles
    title #{title}
  body
    header.header
      nav.nav
        a.nav-a(href="/", class=(path == '/'?'active':'')) Home
        a.nav-a(href="/add-book", class=(path == '/add-book'?'active':'')) Add Book
    block content